-# header
= render 'layouts/header'

-# Body
.container
  .row
    .wrapper.col-12
      - @youtube_data.items.each do |item|
        .movie-area.col-12
          - snippet = item.snippet
          .col-12
            %h2= snippet.title
          .col-12
            %iframe{allow: "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", allowfullscreen: "", frameborder: "0", src: "https://www.youtube.com/embed/#{item.id.video_id}"}
          %p
            = snippet.published_at
            = snippet.channel_title